.wrapper{
	height: 720px;
	width: 1280px;
	margin: auto;
}

.navi {
	width: 900px;
	height: 50px;
	margin: auto;
}

.navi input {
	float:left;
	margin-left: 10px;
}

.navi .hover {
	float:right;
}

.sudoku {
	z-index: 1;
	margin: auto;
	width: 654px;
	height: 654px;
}

.rect {
	width: 216px;
	height: 216px;
	padding: 0 3px 3px 0;
	float:left;
}

.last {
	padding: 0 0 3px 0;
}

.cell {
	width: 70px;
	height: 70px;
	text-align: center;
	font-size: 50px;
	float: left;
	border: 1px solid;
}

.cell p {
	position: relative;
	top: -45px;
}

.navi input {
	font-size: 20px;
}

.error {
	display: none;
	width: 720px;
	background: #FF9494;
	border: 1px solid;
	margin: 15px 0 10px 255px;
}

.error p {
	display: inherit;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 8px 20px;
}

.close {
	position: relative;
	height: 30px;
	width: 30px;
	top: -15px;
	right: -15px;
	background: url("../img/close.png") no-repeat scroll 0 0 transparent;
	float: right;
	cursor: pointer;

}

.hidden {
	display:none;
}

.rowCorrect, .lineCorrect, .rectCorrect { background-color:LightGreen; }
.rowError, .lineError, .rectError { background-color:LightCoral !important; }

.image {
	z-index: -1;
	position: absolute;
	opacity: 0.3;
}

.image img {
	width: 656px;
	height: 656px;
}

.hover {
	font-size: 20px;
}